<ion-content scroll-y="false">
  <div class="main_content_div">
    <div style="position: absolute;left: 37%;top: 40%;">
    <img src="../../assets/imgs/logo_trans.png"  style="width: 150px" >
     </div>


  </div>
</ion-content>

<ion-footer style="background-color: #BB1E33;" class="ion-no-padding ion-no-margin">
  <ion-row style="margin-bottom: 10px;">
    <ion-col size="6" class="ion-no-padding" style="padding-right: 1px;">
      <ion-button style="height: 80px;" color="yellow" expand="full" class="ion-no-margin"
        (click)="goToRegister()">
        S'INSCRIRE
      </ion-button>
    </ion-col>

    <ion-col size="6" class="ion-no-padding" style="padding-left: 1px;">
      <ion-button style="height: 80px;" color="yellow" expand="full" class="ion-no-margin"
        (click)="goToLogin()">
        SE CONNECTER
      </ion-button>
    </ion-col>
  </ion-row>


</ion-footer>
