<ion-header>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="end" name="person-circle"></ion-icon>
      <ion-label>Hatim Rachid</ion-label>
    
    </ion-item>

  

    <ion-item   >
      <ion-toggle (ionChange)="toggleDarkTheme($event)" checked="{{darkMode}}" slot="end"></ion-toggle>
      <ion-label  >Dark mode</ion-label>
    
    </ion-item>

    <ion-item button (click)="signOut()">
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
      <ion-label>Log out</ion-label>
    
    </ion-item>
  </ion-list>
</ion-content>