<ion-header>
  <ion-toolbar color="light">
    <ion-title align="center">registration </ion-title>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
  
</ion-header>

<ion-card-header>
  <img src="assets/sinscrire.jpg" alt="sinscrire">
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title align="center">veuillez remplir les champs svp</ion-card-title>
</ion-card-header>
<ion-content color="primary">
<ion-item>
  <ion-input type="text" placeholder="entrer votre nom"></ion-input><br>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="entrer votre prenom"></ion-input><br>
</ion-item>
<ion-item>
  <ion-input type="text" placeholder="enter votre email" [(ngModel)]="username"></ion-input><br>
</ion-item>
<ion-item>
  <ion-input type="password" placeholder="entrer un mot de passe" [(ngModel)]="password"></ion-input><br>
</ion-item> 
<ion-item>
  <ion-input type="password" placeholder="comfirmer le mot de passe"></ion-input><br>
</ion-item>
<ion-content color="primary">
  
    <ion-button color="light" expand="block" (click)="signUp()">s'incrire</ion-button>  

</ion-content>
  

</ion-content>
