<ion-header>
  <ion-toolbar>
  
 
      <ion-title>Currency</ion-title>
      <ion-buttons slot="end">
        <ion-button id="changelol" (click)="reload()">
          <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    
      <ion-buttons slot="end">
        <ion-button (click)="Cservice.openSettingModal()">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
   


  </ion-toolbar>
</ion-header>

<ion-content>
 
</ion-content>
