
  <ion-header [translucent]="true" >
    <ion-toolbar>
      <ion-title>
        <img class="logo-header" src="..\assets\netflix-logo.png"> 
      </ion-title>
      <ion-buttons slot="end">
        <ion-button color="dark" fill="clear" (click)="signOut()">
          <ion-icon name="log-out" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  
    

      
  </ion-header>

<ion-content>
  <div class="img_box">
    <img [src]="movieData.imageUrl">
  </div>
  <h1>{{ movieData.title }}</h1>
  <p>{{ movieData.description }}</p>

  
  
  
  
</ion-content>

<ion-tabs>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTitle"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="searchMovie()">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-tab-bar slot="bottom" color="netflix-dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab3">
      <ion-icon name="download"></ion-icon>
      <ion-label>Vidéos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>





