<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HISTOIRE
    </ion-title>
    <ion-buttons slot="start">
      <ion-button  href="/chat">precedant</ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-title>Sean Stephenson</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-header>
      <img src="assets/sean.jpg" alt="sean">
    </ion-card-header>

    <ion-card-content>
      Sean est né en 1979 avec ce qu'on appelle une ostéogenèse imparfaite ou encore la maladie des os de verre c'est-à-dire que Sean possède une fragilité osseuse accrue. Quand il est né, presque tous ses os ont été détruits. Les docteurs ont prévenu ses parents qu'il risquait de mourir très bientôt. Il a finalement survécu, mais restera avec de grosses séquelles qui pourraient l'empêcher de vivre une vie comme une personne normale. Il est tout le temps en fauteuil roulant, mais aussi très petit. Je dis le mot "pourraient" parce qu'il se considère comme une personne normale et qu'il a même surpassé certaines personnes.<p>Pourquoi ? Devinez.</p><br>
      <p>Sean est aujourd'hui un thérapeute, un auteur à succès et un "speaker" très connu aux états-Unis. Il coache énormément de personnes et donne des conférences pour motiver les gens.</p><p>Malgré sa maladie, Sean est devenu un grand exemple.</p>
    </ion-card-content>
 </ion-card>
 <ion-toolbar color="dark">
  <ion-title>Madeline Stuart</ion-title>
</ion-toolbar>
<ion-card>
  <ion-card-header>
    <img src="assets/madeline.jpg" alt="madeline">
  </ion-card-header>
 
  <ion-card-content>
    Ce nom vous est inconnu ? Il l'était pour moi aussi jusqu'à  très peu de temps. Cette fille a réalisé son rêve: devenir mannequin.<p> jusque là tout va bien. Il faut qu'elle soit grande et ait un corps de mannequin. Pourtant vous allez être étonné. Madeline est née avec la trisomie 21 et par conséquent vit avec un sérieux handicap <br>Elle a essayé d'aller dans de nombreuses agences et toutes lui ont dit que ce n'était pas possible dû à sa maladie et à son physique. Pourtant, elle a continué et persvéré. Un jour, elle a signé un super contrat avec une grande marque de vêtements et ses débuts de mannequinat ont commencé.</p>Elle a même défilé à  la fashion week de Paris en septembre 2015.<br>Le message véhiculé ici est fort, vous ne trouvez pas ?
  </ion-card-content>
</ion-card>

</ion-content>
